# Dependencias
node_modules/
dist/
build/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
venv/
.venv/

# Logs y Temporales
logs/
*.log
%LOG_FILE%

# Bases de datos 
# Ignoramos por defecto para evitar subir datos sensibles de salud
*.db
!bioengine_seed.db

# IDEs
.vscode/
.idea/
.DS_Store

# Antigravity Specific
.agent/tmp/
